.bookings-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 40rem;
    max-width: 90%;
}
  
.bookings-item {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 2px solid #ffffff;
    background-color: #464866;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookings-item-data h1{
    margin: 0;
    font-size: 1.5rem;
    color: #AAABB8;
}

.bookings-item-data h2{
    margin: 0;
    font-size: 1rem;
    color: #aaabb8;
}

.bookings-item-actions, .btn{
    background: #29648a;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
}

.bookings-item-actions, .btn:hover{
    background: #2e9cca;
}